<?xml version="1.0" encoding="utf-8" ?>
<!--
  If you are an SRS Developer modifying this file in the VS project for committing then you must update the hard-coded
  logging configuration in App.xaml.cs as well to keep the changes in sync.
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="asyncFileTarget" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard" >
      <target name="fileTarget"
              xsi:type="File"
              fileName="serverlog.txt"
              archiveFileName="serverlog.old.txt"
              archiveAboveSize="104857600"
              maxArchiveFiles="1"
              layout="${longdate} | ${logger} | ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=1}"
      />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="asyncFileTarget" />
  </rules>
</nlog>